* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: rgb(29, 50, 157);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-red: rgb(210, 49, 87);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);
    --color-blue: rgb(37, 82, 117);
    --color-green: rgb(86, 207, 62);
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary-variant: rgba(255, 77, 77, 0.4);
    --color-primary-2: #ffc8c9;
    --color-primary-3: #c8f9ff;
    --color-pink: rgb(254, 140, 244);


    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
}
body{
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: auto;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 100000;
}
.close{
    display: flex !important;
}
.modal_container{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem;
    background-color: white;
    width: 82vw;
    height: 82vw;
    position: absolute;
    border-radius: 1.5rem;
}
.text_1{
    color: var(--color-red);
    text-align: center;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 2px;
}
.icon_1{
    color: var(--color-red);
    font-size: 2rem;
    justify-content: center;
    display: block;
    margin-bottom: 15px;
    animation: icon 1s infinite;
}
@keyframes icon {
    from {
        color: var(--color-red);
        top: 0;
    }  
    to {
        top: 2px;
        color: white;
    }
}

/* --------- page 1 --------- */

.page_1{
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1rem;
}

.page_1 .container{
    text-align: center;
    width: 100vw;
    height: 100%;
    margin: auto;
    padding: auto;
    position: relative;
}

.page_1 .container h1{
    font-size: 2.6rem;
    color: var(--color-red);
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

.page_1 .container h2{
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.page_1 .container h3{
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    color: var(--color-white);
}

.page_1 .container h5{
    color: var(--color-white);
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    font-weight: 100;
    margin: 2rem 0 0.2rem 0;
}

.page_1 .avatar{
    background: linear-gradient(var(--color-primary-2), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    width: 80vw;
    height: 120vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2.5rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.3s;
}

.page_1 .avatar img{
    padding-top: 1rem;
    width: 100%;
    height: auto;
}
.page_1 .sub{
    width: 100%;
    bottom: 9.4rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.page_1 .sub h4{
    font-weight: 100;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    transform: rotate(-90deg);
    cursor: default;
    position: relative;
    color: var(--color-white);
}


/* --------- page 2 --------- */

.page_2{
    width: 80%;
    height: fit-content;
    margin: 0rem auto 5rem auto;
    padding-top: 2rem;
    cursor: default;
}
.page_2 .container h1{
    padding-top: 2rem;
    font-size: 1.8rem;
    color: var(--color-primary-3);
    text-align: center;
    letter-spacing: 2px;
}

.page_2 .content{
    margin-bottom: 3rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.page_2 .content .avatar{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary-3), transparent);
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
}

.page_2 .content .avatar img{
    width: 98%;
    height: auto;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: 0.5s;
}

.page_2 .container .card{
    margin: 1rem 0;
    font-style: italic;
    color: var(--color-primary);
    display: block;
    position: relative;
    background-color: white;
}
.page_2 .container .card_1{
    width: 14rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
}
.page_2 .container .card_2{
    color: var(--color-primary);
    width: 12rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem 1.5rem 1.5rem 1.5rem;
}
.page_2 .container .card_3{
    transform: translateX(30vw);
    text-align: right;
    color: var(--color-primary);
    width: 50vw;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1.5rem 1.5rem 0.5rem 1.5rem;
}
.page_2 .container .card_4{
    transform: translateX(30vw);
    text-align: right;
    color: var(--color-primary);
    width: 50vw;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1.5rem 0.5rem 1.5rem 1.5rem;
}
.page_2 .container .card_5{
    transform: translateX(30vw);
    text-align: right;
    color: var(--color-primary);
    width: 50vw;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.page_2 .container .card_6{
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    border-radius: 50%;
}
.page_2 .container .card_6 img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.page_2 .container .card_6 i{
    top: 4rem;
    right: 0;
    color: var(--color-red);
    position: absolute;
}
.page_2 .container .card_7{
    color: var(--color-primary);
    width: 12.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
}
.page_2 .container .card_8{
    color: var(--color-primary);
    width: 16rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
}
.page_2 .container .card_9{
    text-align: center;
    color: var(--color-primary);
    width: 12rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 0.5rem 1.5rem 1.5rem 1.5rem;
}
.page_2 .container .card_10{
    transform: translateX(20vw);
    text-align: right;
    color: var(--color-primary);
    width: 60vw;
    margin: 2rem 0 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 1.5rem 1.5rem 0.5rem 1.5rem;
}
.page_2 .container .card_11{
    transform: translateX(20vw);
    text-align: right;
    color: var(--color-primary);
    width: 60vw;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    border-radius: 1.5rem 0.5rem 1.5rem 1.5rem;
}
.page_2 .container .card_12{
    text-align: center;
    color: var(--color-primary);
    width: 80vw;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.page_2 .container .card_12 i{
    color: var(--color-red);
}
.page_2 .container .card_13{
    transform: translateX(1.65rem);
    text-align: left;
    background-color: transparent;
    width: 80vw;
    margin: 2rem 0 0 0;
    padding: 0;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: var(--color-white);
}
.page_2 .container .card_14{
    text-align: center;
    background-color: var(--color-white);
    width: 80vw;
    height: auto;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 2rem;
}
.page_2 .container .card_15{
    text-align: center;
    background-color: transparent;
    width: 80vw;
    margin: 2rem 0 5rem 0;
    padding: 0;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: var(--color-white);
}